.contact {
    padding: 0 10% 5% 10%;
    /*margin: 0 10% 5% 10%;*/
    /*font-size: 100%;*/
    text-align: justify;
}

.contact h3{
    padding-bottom: 20px;
}

/*.mapClub{*/
    /*height: 400px;*/
    /*width: 100%;*/
    /*!*background-color: grey;*!*/
   /*align-content: center;*/
/*}*/
.mapClub{
    /*border: #002752 2px ;*/
    margin: 0 -5% 5% -5%;
}