.menu {
    background-color: #d6dcdf;
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    display: flex;
    /*padding: 15px 25px 30px 15px;*/
}

a {
    text-decoration: none;
}

/*меню*/
.menu a {
    background-color: #d6dcdf;
    color: #272626;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
}

ul {
    display: flex;
}

/*активное меню*/
a.current_menu,
.menu a:hover
{
    background-color: #547689;
    color: #fffefe;
}

#menu-checkbox {
    display: none;
}

@media screen and (max-width: 710px), only screen and (max-device-width: 480px) {
    .menu {
        position: absolute;
        width: 100%;
        padding-left: 10px;
        justify-content: left;
        /*overflow: hidden;*/
        z-index: 10;

    }
/*.menu label[data-close]{*/
    /*width: 100px;*/
/*}*/
    .main-menu {
        display: none;
    }

    .main-menu li {
        width: 100%;
        display: block;
        font-size: 12px;
    }

    .main-menu a {
        display: block;
        padding: 6px;
    }

    .toggle-button {
        text-align: -moz-center;
        display: block;
        cursor: pointer;
        color: #272626;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .toggle-button:after {
        content: attr(data-open);
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }

    #menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
        content: attr(data-close);
    }

    .header-container a {
        margin-right: -65px;
    }

    .main-menu {
        text-align: left;
        position: relative;
        right: 10px;
    }

    /*.menu li:hover {*/
    /*background-color: #547689;*/
    /*color: #fffefe;*/
    /*padding-left: revert;*/
    /*!*padding-right: 30px;*!*/
    /*}*/
}
