* {
    font-family: 'Open Sans', regular;
    color: #272626;
    padding: 0;
    margin: 0;
}

section{
    margin: 4.2% 8% 5% 8%;
}


/*.header {*/
/*grid-area: header;*/
/*background-color: #547689;*/
/*}*/

/*.menu {*/
/*grid-area: menu;*/
/*background-color: #4e555b;*/
/*}*/

/*.main {*/
/*grid-area: main;*/
/*background-color: yellow;*/
/*}*/
/*.news{*/
/*grid-area: news;*/
/*background-color: green;*/

/*}*/
/*.footer {*/
/*grid-area: footer;*/
/*background-color: red;*/
/*}*/

/*.container {*/
/*display: grid;*/
/*grid-template-areas: "header header"*/
/*"menu menu"*/
/*"main news"*/
/*"footer footer";*/
/*grid-template-columns: 1fr 150px;*/
/*grid-template-rows: 100px 50px 1fr 50px;*/
/*min-height: 100vh;*/
/*}*/
/*@media screen and(max-width: 600px){*/
/*.container{*/
/*grid-template-areas: "header"*/
/*"menu"*/
/*"main"*/
/*"news"*/
/*"footer";*/
/*grid-template-columns: 100%;*/
/*grid-template-rows: 100px 50px 50px 1fr 50px;*/
/*}*/

/*}*/