* {
    font-family: 'Open Sans', regular;
    color: #272626;
    padding: 0;
    margin: 0;
}

section {
    margin: 192px 8% 5% 8%;
}
.top {
    position: fixed; /* Set the menu to fixed position */
    top: 0; /* Position the menu at the top of the page */
    z-index: 50;
    width: 100%;
    justify-content: center;
}
#top{
    display: flex;
    z-index: 100;
}
.btn-up {
    position: fixed;
    bottom: -50px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #c6c8ca;
    z-index: 100; /* чтоб была поверх всех элементов на странице*/
    outline: 0 !important;
}

.btn-up:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #c6c8ca;
    border-left: 2px solid #c6c8ca;
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.btn-up.active {
    bottom: 39%;
}